RewriteEngine On
# Tvoj API je sada direktno u BACKEND folderu
RewriteBase /BACKEND/

# Omogući pristup fajlovima ako postoje
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]